/* Todos os styles codificados aqui e aplicados ao card e seus descendentes, foram simplesmente copiados pra dentro do "CardNews.js", automatizando assim toda a estilização do card de notícias e tornando o código muito mais limpo, reutilizavel e aumentando a escalabilidade, pois até o código dessa página pode ser apagado que as notícias que tiverem sido criadas utilizando o component "CardNews" não serão afetadas. */

body {
    background-color:rgb(42, 47, 53) ;
}

.card{
    width: 80%;
    margin: .5rem;
    background-color: antiquewhite;
    border: 1px solid grey;
    border-radius: .3rem;
    -webkit-box-shadow: 21px 18px 7px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 18px 7px -11px rgba(0,0,0,0.75);
    box-shadow: 21px 18px 7px -11px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .card__left, .card__right {
    border: 1px solid blue;
} */

img {
    height: 7rem;
    width: 10rem;
    background-color: black;
    margin: .3rem;
    border-radius: .3rem;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .625rem;
}

.card__left span {
    font-weight: 400;
    font-style: italic;
    padding: .312rem;
}

.card__left a {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.card__left p {
    color: rgb(43, 43, 43);
    padding: .312rem;
    text-align: justify;
}